@font-face {
    font-family: "Nunito";
    src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face{
    font-family: "Orwell";
    src: url(../fonts/Orwell/Orwell.ttf);
}
@font-face{
    font-family: "Patrick Hand";
    src: url(../fonts/Patrick_Hand/PatrickHand-Regular.ttf);
}
html{
    min-width: 550px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Nunito", sans-serif;
    margin: 0;
    background-color: #A9BA9D;
}

nav{
    grid-area: nav;

    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: space-between;

    
    background-color: #93a283;
    margin: 0;
    padding: 10px;
    box-shadow: 0px 10px 40px -20px;
}

nav a{
    text-decoration: none;
    color: black;
    background-color: #d2a880;
    padding: 8px;
    border-radius: 6px;
    margin: 5px;
    justify-self: center;
    align-self: center;
    transition: .2s;
}

nav a:hover{
    background-color: #ffd991;
    transition: .2s;
}

nav h1{
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-family: Orwell, serif;
    color: #422f28;

    flex: 1;
}

h2{
    text-align: center;
    font-size: 45px;
    font-family: Orwell, serif;
    color: #422f28;
    width: fit-content;
    background-color: #93a283;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

    margin: 2.5em;
}

section{
    background-color: #E5d2bb;

    width: 17em;
    height: 25em;
    margin: 15px;
    padding: 1%;

    transform: rotate(.1deg);
    text-align: justify;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: .3s;
}

section p{
    font-family: "Patrick Hand";
    font-size: 22px;
    margin: 15px;

    color: #422f28;
}



main img{
    width: 100%;
    background-size: cover;
    
    object-fit: cover;
    height: 400px;
    position: absolute;
    
    min-width: 550px;
    filter: contrast(1.3) brightness(.9) saturate(1) blur(.4px);

    z-index: -1;
}

footer{
    background-color: #93a283;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px -14px 20px -20px;
}
    
footer p{
    margin: 10px 40px 10px 50px;
    
}

footer a{
    align-self: center;
    justify-self: end;
    text-decoration: none;
    color: black;
    background-color: #d2a880;
    padding: 8px;
    border-radius: 6px;
    transition: .2s;
    margin: auto 30px auto 30px;
}

footer a:hover{
    background-color: #ffd991;
    transition: .2s;
}

.princti{
    display: flex;
    justify-content: center;
    align-content: center;

}

.conteudo{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    
    margin-top: 140px;

}

.title{
    text-align: center;
    font-family: "Orwell";
    font-size: 35px;

    margin: 0;
    color: #422f28;

}
.svg{
    width: 22px;
    height: 22px;
}

section::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(197, 120, 120);
    border-radius: 50%;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

section::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 20px;
    box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; 
}
section:hover{
    transform: rotate(-1.5deg) scale(1.05);
    transition: .3s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(160, 160, 160, 0.295);
    backdrop-filter: blur(10px);
    display: none;
    z-index: 999; 
}

.iframe-container {
    display: none;
    position: absolute;
    max-height: 50em;
    max-width: 70em;
    max-width: 800px;
    max-height: 700px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #e5d2bb;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 16px;
    border-radius: 10px;
    z-index: 1001;

    justify-content: center;
    align-items: center;
    align-content: center;
}

.iframe-container iframe {
    width: 30em;
    height: 35em;
    border: none;
    border-radius: 10px;
    
}
.iframe-container p{
    font-family: "Patrick Hand";
    font-size: 25px;
    text-align: center;
}

.iframe-container.visible {
    display: flex;
    flex-direction: column;
}
h5{
    font-size: 42px;
    margin: 10px 0 10px 0;
    text-align: center;
    font-family: Orwell;
    font-weight: 400;
}

@media (orientation: portrait) {
    .iframe-container {
        display: none;
        position: absolute;
        max-width: 800px;
        max-height: 700px;
        width: 80%;
        background-color: #e5d2bb;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
        padding: 16px;
        border-radius: 10px;
        z-index: 1001;
    
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .iframe-container iframe {
        max-width: 30em;
        width: 100%;
        height: 35em;
        border: none;
        border-radius: 10px;
        
    }
    nav{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    footer{
        padding: 0;
    }
    nav h1{
        font-size: 3em;
        width: 100vw;
    }
    body{
        overflow-x: hidden;
    }
}