    /*Fontes: Orwell, Nunito, Patrick Hand*/

    @font-face {
        font-family: "Nunito";
        src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
    }
    @font-face{
        font-family: "Orwell";
        src: url(../fonts/Orwell/Orwell.ttf);
    }
    @font-face{
        font-family: "Patrick Hand";
        src: url(../fonts/Patrick_Hand/PatrickHand-Regular.ttf);
    }


    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        font-family: "Nunito", sans-serif;
        margin: 0;
        background-color: #A9BA9D;

        overflow-x: hidden;
    }

    nav {
        grid-area: nav;

        display: flex;
        gap: 10px;
        text-align: center;
        justify-content: space-between;

        
        background-color: #93a283;
        margin: 0;
        padding: 10px;
        box-shadow: 0px 10px 40px -20px;
    }

    nav a{
        text-decoration: none;
        color: black;
        background-color: #d2a880;
        padding: 8px;
        border-radius: 6px;
        margin: 10px;
        justify-self: center;
        align-self: center;
        left: 29vw;
        transition: .2s;
    }
    nav a:hover{
        background-color: #ffd991;
        transition: .2s;
    }

    nav h1{
        text-align: center;
        font-size: 50px;
        justify-self: center;
        align-self: center;
        margin: 0;
        font-family: "Orwell", cursive;
        color: #41362c;

        flex: 1;
    }

    main {
        display: grid;
        grid-area: main;
        margin: 20px 10px 10px 10px;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "note1 farol noteD"; /*Bugado, mas funciona(eu odeio grid)*/
        gap: 20px;
        min-height: 100vh;
        flex: 1;
    }

    main h2, h3, h4{
        font-size: 32px;
        margin: 15px 0 15px 0;
        font-family: Orwell;
        font-weight: 400;
    }

    h5{
        font-size: 42px;
        margin: 10px 0 10px 0;
        text-align: center;
        font-family: Orwell;
        font-weight: 400;
    }

    

    main button{
        background-color: #d2a880;
        padding: 6px;
        border: 0;
        font-size: 15px;
        border-radius: 5px;
        transition: .2s;
        margin: 10px;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
    }

    main button:hover{
        background-color: #ffd991;
        transition: 0.2s;
    }

    footer{
        background-color: #93a283;
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        box-shadow: 0px -8px 20px -20px;
    }
        
    footer p{
        margin: 10px 40px 10px 50px;
        
    }

    footer a{
        align-self: center;
        justify-self: end;
        text-decoration: none;
        color: black;
        background-color: #d2a880;
        padding: 8px;
        border-radius: 6px;
        transition: .2s;
        margin: auto 30px auto 30px;
    }
    footer a:hover{
        background-color: #ffd991;
        transition: .2s;
    }

    #btn1, #btn2, #btn3{
        cursor: pointer;
    }

    .svg{
        width: 22px;
        height: 22px;
    }

    .site{
        display: grid;
        grid-template-rows: .1fr 5fr;
        grid-template-areas: "nav" "main";
    }

    .noteD {
        display: grid;
        grid-template-rows: .1fr 1fr;
        text-align: center;
        align-items: center;
        justify-items: center;
        grid-area: noteD;
        height: 100%;
        gap: 20px;
    }

    .note1 {
        background-color: #E5d2bb;
        text-align: center;
        padding: 10px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
        height: 40em;
        max-width: 450px;
        max-height: 790px;
        min-width: 270px;
        grid-area: note1;
        margin: 10px;
        transition: transform 0.3s ease, width 0.5s ease, height 0.5s ease, top 0.5s ease, left 0.5s ease;
        transform: rotate(1deg);
        color: #5f4c31;
        align-self: flex-start;
        justify-self: center;

        position: relative;
    }

    .note1 p{
        font-family: Patrick Hand, cursive;
        font-size: 20px;
        text-align: justify;
        margin: 10px;
    }

    .note2, .note3 {
        margin: 10px;
        padding: 10px;
        background-color: #E5d2bb;
        text-align: center;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
        top: 50%;
        left: 50%;
        height: 18.2em;
        max-height: 420px;
        max-width: 450px;
        min-width: 240px;
        transform: rotate(-1deg);
        transition: all .3s ease;
        color: #5f4c31;
        align-self: flex-start;
        justify-self: center;

    }

    .note2 p, .note3 p{
        font-family: Patrick Hand, cursive;
        font-size: 20px;
        text-align: justify;
        margin: 10px;
    }
    .note2 li, .note3 li{
        text-align: justify;
        font-family: Patrick Hand, cursive;
        margin: 10px;
        font-size: 20px;
        list-style: upper-roman;
    }

    .note1:hover{
        transform: rotate(-2deg) scale(1.02); 
        transition: transform 0.3s ease;
    }
    .note2:hover, .note3:hover {
        transform: rotate(2deg) scale(1.02);
        transition: transform 0.3s ease;
        
    }

    /*PARTE EXPANDIDA*/
    .note2.expandida, .note3.expandida {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 100%;
        max-width: 800px; 
        height: auto;
        max-height: 800px;
        z-index: 1000;
        transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
    }
    .note1.expandida{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%) scale(1); 
        width: 100%; 
        max-width: 800px; 
        height: auto;
        max-height: 800px;
        z-index: 1000;
        transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
    }
    
        
    .note1.expandida p, .note2.expandida p, .note3.expandida p{
        margin: 15px;
        text-align: justify;
    }
    /* Alfinete nos blocos de post-it */
    .note1::before, .note2::before, .note3::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: rgb(197, 120, 120);
        border-radius: 50%;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .note1::after, .note2::after, .note3::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 20px;
        box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.5);
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999; 
    }

    /* Ajuste de layout */
    .farol {
        display: grid;
        align-items: center;
        justify-content: start;
        margin: 10px auto;
        grid-column: 2 / 3;
        grid-area: farol;

    }

    .farol img {
        box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.3);
        transform: rotate(-1deg);

        width: 100%;
        max-width: 600px;
        max-height: 600px;

        align-self: flex-start;
        justify-self: center;

        transition: .3s;

    }

    .note1 .content, .note2 .content, .note3 .content {
        display: none;
    }

    .note1.expandida .content, .note2.expandida .content, .note3.expandida .content {
        display: block;
    }
    /*blur de fundo*/
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(160, 160, 160, 0.295);
        backdrop-filter: blur(10px);
        display: none;
        z-index: 999; 
    }

    .iframe-container {
        display: none;
        position: absolute;
        left: 20%;
        top: 10%;
        height: 50em;
        width: 70em;
        max-width: 800px;
        max-height: 700px;
        background-color: #e5d2bb;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
        padding: 16px;
        border-radius: 10px;
        z-index: 1001;

        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .iframe-container iframe {
        width: 30em;
        height: 35em;
        border: none;

        
    }
    .iframe-container p{
        font-family: "Patrick Hand";
        font-size: 25px;
        text-align: center;
    }
    
    .iframe-container.visible {
        display: flex;
        flex-direction: column;
    }

    @media (orientation: portrait) {
        body {
            display: flex;
            flex-direction: row;
            min-height: 100vh;
    
            font-family: "Nunito", sans-serif;
            margin: 0;
            background-color: #A9BA9D;
        }
    
        main {
            display: grid;
            grid-area: main;
            margin: 20px 10px 10px 10px;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr;
            grid-template-areas: 
                "farol" "note1" "noteD"; /*Bugado, mas funciona(eu odeio grid)*/
            gap: 20px;
            min-height: 100vh;
            position: relative;
            flex: 1;
        }
        .note1.expandida{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(5%, -50%) scale(1);
            width: 90vw;
            max-width: 450px;
            max-height: 190vh;
            z-index: 1000;
            transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
        }
        .note2.expandida, .note3.expandida {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            width: 90vw;
            max-width: 500px;
            max-height: 970px;

            z-index: 1000;
            transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;

            overflow-y: visible;
        }
    }
    
